/* --------- Pre-Fromulario --------- */
.pre-form {
  font-size: 2.88651rem;
  font-weight: 900;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 1.5rem;

}

/* --------- Fromulario --------- */
.form {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  width: auto;
}

.form-input {
  display: flex;
  justify-content: space-between;
  font-weight: Bold;
  font-weight: 700;
  padding: 0.5rem;
}

.form-input__p-div {
  display: flex;
  margin: auto;
}

.form-input__p {
  display: flex;
}

.noticias-mangas {
  display: inline-block;
  padding: 1rem;
}

.noticias-libros {
  display: inline-block;
  padding: 1rem;
}

.novedades {
  display: inline-block;
  padding: 1rem;
}

.eventos {
  display: inline-block;
  padding: 1rem;
}

.form-email {
  display: flex;
  margin: auto;
  padding: 1rem;
}

.form-submit {
  display: inline-flex;
  width: 30%;
  border-left: 2px solid black;
  text-align: center;
  padding: 0.5rem;
}

.boton-suscribir {
  background-color: white;
  color: black;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  margin: 0 auto;
  font-weight: Bold;
}