@import "variables";

/* -------------------- Producto para descubrir -------------------- */
.producto-descubrir {
  margin-top: 5rem;
}

.producto-descubrir__pre-titulo {
  font-weight: 700;
  font-size: 1.25rem;
}

.producto-descubrir__titulo {
  font-weight: 900;
  font-size: 3rem;
  padding-top: 0.5rem;
}

/* -------------------- Articulos -------------------- */

.producto-descubrir__item {
  display: grid;
  grid-template-columns: repeat( 4, 1fr);
  gap: 1rem;
}




.producto-descubrir__item-li-fondo {
  background-color: $color-gris-claro;
  height: 386px;
}

.producto-descubrir__item-li-fondo:hover {
  background-color: $color-gris-oscu;
  transition: 0.5s;
}

.producto-descubrir__item-li-fondo-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
