/* -------------------- Producto para descubrir -------------------- */
.producto-descubrir {
  margin-top: 5rem;
}

.producto-descubrir__pre-titulo {
  font-weight: 700;
  font-size: 1.25rem;
}

.producto-descubrir__titulo {
  font-weight: 900;
  font-size: 3rem;
  padding-top: 0.5rem;
}

.producto-descubrir__item {
  display: flex;
  margin-top: 1.5rem;
  overflow-x: scroll;
}

.producto-descubrir__item-li {
  display: flex;
  flex-direction: column;

}

.producto-descubrir-2,
.producto-descubrir-3,
.producto-descubrir-4 {
  margin-left: 1.4rem;
}

.producto-descubrir__item-li-fondo {
  background-color: #e6e6e6;
  height: 386px;
  width: 311px;
}

.producto-descubrir__item-li-fondo:hover {
  background-color: #c9c9c9;
  transition: 0.5s;
}

.producto-descubrir__item-li-fondo-img {
  width: 215px;
  height: 286px;
  margin: 3rem;
  width: auto;
  box-shadow: 2px 2px 2px #45454578;

}

.producto-descubrir__item-li-titulo {

  font-size: 1.5rem;
  margin-top: 0.5rem;
  max-width: fit-content;
}


.producto-descubrir__item-comprar {
  max-width: fit-content;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 1rem;
  padding: 0.25rem;
}

.producto-descubrir__item-comprar-a {
  border-bottom: 0.125rem solid black;
}

.producto-descubrir__item-comprar-a:hover {
  border: 0.125rem solid black;
  transition: 0.08s;
}