@import "variables";


/* -------------------- Producto para descubrir -------------------- */
.producto-descubrir {
  margin-top: 5rem;
}

.producto-descubrir__pre-titulo {
  font-weight: 700;
  font-size: 1.25rem;
}

.producto-descubrir__titulo {
  font-weight: 900;
  font-size: 3rem;
  padding-top: 0.5rem;
}

/* -------------------- Articulos -------------------- */

.producto-descubrir__item {
  display: grid;
  grid-template-columns: repeat( 4, 1fr);
  gap: 1rem;
}

.producto-descubrir__item-li-fondo {
  background-color: $color-gris-claro;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.producto-descubrir__item-li-fondo:hover {
  background-color: $color-gris-oscu;
  transition: 0.5s;
}

.producto-descubrir__item-li-fondo-img{
  height: 300px; 
  
}

.producto-descubrir__item-li-titulo {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  max-width: fit-content;
}

.producto-descubrir__item-comprar {
  max-width: fit-content;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 1rem;
  padding: 0.25rem;
}

.producto-descubrir__item-comprar-a {
  border-bottom: 0.125rem solid black;
}

.producto-descubrir__item-comprar-a:hover {
  border: 0.125rem solid black;
  transition: 0.08s;
}