@import "variables";
@import "header";
@import "form";
@import "footer";
@import "mix-ext";
@import "manga-dest";
@import "prod-desc";
@import "page-scss/index";
@import "page-scss/nosotros";
@import "page-scss/noticias";
@import "page-scss/libros";


@media only screen and (max-width: 1399px) {
  .imagen-principal {
     height: 45rem;
  }

  .serie-manga-desta__fondo {
     height: 35rem;
  }

  .serie-manga-desta__contenido-top-pre-titulo {
     font-weight: 700;
     font-size: 1.25rem;
  }

  .serie-manga-desta__contenido-top-titulo {
     font-weight: 900;
     font-size: 4.5rem;

  }

  .serie-manga-desta__contenido-top-autor {
     font-weight: 500;
     font-size: 1.2rem;
  }

  .serie-manga-desta__contenido-bottom-texto {
     font-weight: 500;
     font-size: 1rem;
  }

  .titulo-princ-pagina-h1 {
     font-size: 5rem;
  }

  .producto-descubrir__item-li-fondo{
     height: 350px; 
  }

  .producto-descubrir__item-li-fondo-img{
     height: 250px;
  }
  .libro-desta__fondo {
   height: 32rem;

  }

}

@media only screen and (max-width: 1199px) {
   .producto-descubrir__item-li-fondo{
      height: 300px; 
   }
 
   .producto-descubrir__item-li-fondo-img{
      height: 225px;
   }
   .img-prin-libro{
     height: 20rem;
   }

}


@media only screen and (max-width: 991px) {
  .header__logo-titulo-logo {
     margin: 0;
  }

  .imagen-principal {
     height: 40rem;
  }

  .header__nav-ul-li {
     margin: 0.5rem 1rem;
     font-size: 1.5rem;
  }

  .header__logo-a {
     height: 60px;
     width: 60px;
  }

  .header__logo-a-img {
     height: 60px;
     width: 60px;
  }

  .pre-form {
     font-size: 1.60181rem;
  }

  .form-submit {
     border-top: 2px solid black;
     border-left: none;
  }

  .footer {
     padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
   .producto-descubrir__item-li-fondo{
      height: 220px; 
   }
 
   .producto-descubrir__item-li-fondo-img{
      height: 160px;
   }
   .titulo-princ-pagina-h1 {
      font-size: 4rem;
   }
   .libro-desta__fondo {
      height: 41rem;
   
    }

}

@media only screen and (max-width: 695px) {
  .noti-principal {
     width: 100%;
  }

  .noti-principal {
     margin-right: 0.5rem;
  }

  .about-tatakae__parrafo-1--h2 {
     font-size: 2.25rem;
  }

  .about-tatakae__parrafo-1--p {
     font-size: 1.25rem;
  }

  .about-tatakae__parrafo-2--h2 {
     font-size: 2.25rem;
  }

  .about-tatakae__parrafo-2--strong {
     font-size: 1.25rem;
  }

  .about-tatakae__parrafo-2--p-2 {
     font-size: 1.25rem;
  }

  .about-tatakae__parrafo-2--p {
     font-size: 1.25rem;
  }

}

@media only screen and (max-width: 575px) {
  .header__logo-titulo-logo {
     margin: auto 0;
     padding: 0rem 1rem;
  }

  .imagen-principal {
     height: 35rem;
  }

  .header__nav-ul-li {
     margin: 0.5rem 0.9rem;
     font-weight: 700;
     font-size: 1.25rem;
  }

  .header__logo-a {
     height: 50px;
     width: 50px;
  }

  .header__logo-a-img {
     height: 50px;
     width: 50px;
  }

  .producto-descubrir__pre-titulo {
     margin-bottom: 0.5rem;
  }

  .producto-descubrir__titulo {
     font-size: 2.5rem;
  }

  .producto-descubrir__item {
     margin-top: 1rem;
  }

  .producto-descubrir__item {
   overflow: scroll;
  }
  .producto-descubrir__item-li-fondo{
     width: 300px;
     height: 400px;
  }
  .producto-descubrir__item-li-fondo-img{
   width: 200px;
   height: 300px;
  }  

}

@media only screen and (max-width: 489px) {
  .imagen-principal {
     height: 30rem;
  }

  .header__nav-ul-li {
     margin: 0.5rem 0.5rem;
     font-weight: 700;
     font-size: 1rem;
  }

  .header__logo-a {
     height: 40px;
     width: 40px;
  }

  .header__logo-a-img {
     height: 40px;
     width: 40px;
  }

  .serie-manga-desta__fondo {
      height: 20rem;
  }
  .noti-principal__cuadro-principal-titulo {
     font-size: 1rem;
     margin-bottom: 0.25rem;
  }

  .noti-principal__cuadro-principal-nombre {
     margin-bottom: 0.25rem;
  }

  .noti-principal__bottom-autor {
     font-size: 1rem;
  }

  .flecha__ver-a-flecha {
     width: 2.25rem;
     height: 2rem;
  }

  #flecha {
     width: 2.25rem;
     height: 2rem;
  }

  .flecha__ver-a {
     padding: 0.2rem 0.4rem;
  }

  .bottom__ver-mas-a {
     padding: 0.2rem 0.4rem;
  }

  .bottom__ver-mas-a-flecha {
     width: 2.25rem;
     height: 2rem;
  }

  .titulo-princ-pagina-h1 {
     font-size: 2.5rem;
  }

  .about-tatakae__parrafo-1--h2 {
     font-size: 1.5rem;
  }

  .about-tatakae__parrafo-1--p {
     font-size: 1rem;
  }

  .about-tatakae__parrafo-2--h2 {
     font-size: 1.5rem;
  }

  .about-tatakae__parrafo-2--strong {
     font-size: 1rem;
  }

  .about-tatakae__parrafo-2--p-2 {
     font-size: 1rem;
  }

  .about-tatakae__parrafo-2--p {
     font-size: 1rem;
  }

  .noticias__articulos-3-ul, .noticias__articulos-4-ul{
   display: grid;
   grid-template-columns: auto;
 }

 .noticias__nav-tipos{
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: auto auto;
 }

 .manga-anime__titulo{
    font-size: 2.5rem;
 }

 .libro-desta__fondo {
   height: 32rem;

 }
 



 


}