/* ---------- colores ---------- */

$color-amarillo:#fff599 ;
$color-celeste:#B1E9F3 ;
$color-naranja:#FFD9AF ;
$color-rojo:#fbadb2;
$color-verde:#A1E5D9 ;
$color-azul:#99A3C6 ;
$color-violeta:#E9C1EC ;
$color-rosa:#FBC8D6 ;

/* ---------- colores fondo gris ---------- */
$color-gris-claro:#e6e6e6;
$color-gris-oscu: #c9c9c9;