.liros-h1{
  font-size: 4rem;
}

.manga-anime__pre-titulo{
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
}
.manga-anime__titulo{
  display: block;
  font-size: 3rem;
  font-weight: 900;
}

.libro-desta__fondo {
  height: 39rem;
  width: 100%;
  overflow: hidden;
}

.libro-desta__fondo-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

}