/* ---------------------
------- Nosotros -------
--------------------- */

.titulo-princ-pagina-h1 {
  font-size: 6rem;
  font-weight: 900;
}

.about-tatakae__parrafo-1--h2 {
  font-size: 3.25rem;
  font-weight: 700;
}

.about-tatakae__parrafo-1--p {
  font-size: 1.45rem;
}

.about-tatakae__parrafo-2--h2 {
  font-size: 3.25rem;
  font-weight: 700;
}

.about-tatakae__parrafo-2--strong {
  font-size: 1.45rem;
}

.about-tatakae__parrafo-2--p-2 {
  font-size: 1.45rem;
}

.about-tatakae__parrafo-2--p {
  font-size: 1.45rem;
}